---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 5 // Max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title="Home" class="relative">
  <div class="hero bg-cover bg-center h-64 flex items-center justify-center text-white" style="background-image: url('/src/assets/images/IanBannerSmallData.jpg'); background-position: center 25%;">
    <div class="bg-black bg-opacity-50 p-4 rounded">
      <h1 class="text-3xl font-bold">Welcome to Causa Latet Blog</h1>
      <p class="mt-2">Exploring AI, Sales, Technology, and Mortgage</p>
    </div>
  </div>
  <TitlePage title="AI, Sales, Technology, and Mortgage - the Causa Latet Blog" />
  <div class="categories mt-8">
    <ListCategories />
  </div>

  <div class="posts-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
    <h2 class="text-lg font-medium tracking-wide text-center col-span-full">Latest Posts</h2>
    <ListPosts FirstBig={true} posts={posts} />
  </div>
</BaseLayout>

<script>
  import { animate, stagger } from 'motion'
  const showAnimations = localStorage.getItem('animations') === 'true'

  if (showAnimations) {
    animate(
      '.title',
      { y: [80, 0], opacity: [0, 1] },
      {
        duration: 2.5,
        opacity: { duration: 3 },
        offset: [0, 0.55, 0.75]
      }
    )
    animate(
      '.categories',
      { opacity: [0, 1], transform: ['translateY(20px)', 'translateY(0)'] },
      { duration: 1.5, easing: 'ease-out', delay: stagger(0.1) }
    )
  }
</script>
